{% extends 'DVscandiweb/index.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="d-flex my-3">
            <h3 class="nav col-lg-auto me-lg-auto mb-md-0">Product add</h3>
            <button type="submit" form="product_form" class="btn btn-outline-success" id="submit_btn">
                Save
            </button>
            <a type="button" href='{% url 'index' %}' class="btn btn-outline-warning" id="cancel_btn">
                Cancel
            </a>
        </div>
        {% if add_product_form.errors %}
            <div class="alert alert-warning text-center" role="alert">Please correct the errors below</div>
        {% endif %}

        <form action="{% url 'add-product' %}" method="post" id="product_form" class="form">
            {% csrf_token %}
            <div class="row mb-3">
                {{ add_product_form.sku.label_tag }}
                <div class="col-sm-10">
                    {{ add_product_form.sku }}
                    <div class="field-errors"
                         style="font-size: smaller; font-weight: bolder; color: red;">
                        {% if add_product_form.sku.errors %}
                            {{ add_product_form.sku.errors }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                {{ add_product_form.name.label_tag }}
                <div class="col-sm-10">
                    {{ add_product_form.name }}
                    <div class="field-errors"
                         style="font-size: smaller; font-weight: bolder; color: red;">
                        {% if add_product_form.name.errors %}
                            {{ add_product_form.name.errors }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                {{ add_product_form.price.label_tag }}
                <div class="col-sm-10">
                    {{ add_product_form.price }}
                    <div class="field-errors"
                         style="font-size: smaller; font-weight: bolder; color: red;">
                        {% if add_product_form.price.errors %}
                            {{ add_product_form.price.errors }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                {{ add_product_form.producttype.label_tag }}
                <div class="col-sm-10">
                    {{ add_product_form.producttype }}
                </div>
            </div>
            <div id="DVDchoice" class="d-none">
                <div class="row mb-3">
                    {{ add_product_form.size.label_tag }}
                    <div class="col-sm-10">
                        {{ add_product_form.size }}
                        <div class="field-errors"
                             style="font-size: smaller; font-weight: bolder; color: red;">
                            {% if add_product_form.size.errors %}
                                {{ add_product_form.size.errors }}
                            {% endif %}
                        </div>
                        <div>
                            Please, provide {{ add_product_form.size.label }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="Furniturechoice" class="d-none">
                <div class="row mb-3">
                    {{ add_product_form.height.label_tag }}
                    <div class="col-sm-10">
                        {{ add_product_form.height }}
                        <div class="field-errors"
                             style="font-size: smaller; font-weight: bolder; color: red;">
                            {% if add_product_form.height.errors %}
                                {{ add_product_form.height.errors }}
                            {% endif %}
                        </div>
                        <div>
                            Please, provide {{ add_product_form.height.label }}
                        </div>                        
                    </div>
                </div>
                <div class="row mb-3">
                    {{ add_product_form.width.label_tag }}
                    <div class="col-sm-10">
                        {{ add_product_form.width }}
                        <div class="field-errors"
                             style="font-size: smaller; font-weight: bolder; color: red;">
                            {% if add_product_form.width.errors %}
                                {{ add_product_form.width.errors }}
                            {% endif %}
                        </div>
                        <div>
                            Please, provide {{ add_product_form.width.label }}
                        </div>  
                    </div>
                </div>
                <div class="row mb-3">
                    {{ add_product_form.length.label_tag }}
                    <div class="col-sm-10">
                        {{ add_product_form.length }}
                        <div class="field-errors"
                             style="font-size: smaller; font-weight: bolder; color: red;">
                            {% if add_product_form.length.errors %}
                                {{ add_product_form.length.errors }}
                            {% endif %}
                        </div>
                        <div>
                            Please, provide {{ add_product_form.length.label }}
                        </div> 
                    </div>
                </div>
            </div>
            <div id="Bookchoice" class="d-none">
                <div class="row mb-3">
                    {{ add_product_form.weight.label_tag }}
                    <div class="col-sm-10">
                        {{ add_product_form.weight }}
                        <div class="field-errors"
                             style="font-size: smaller; font-weight: bolder; color: red;">
                            {% if add_product_form.weight.errors %}
                                {{ add_product_form.weight.errors }}
                            {% endif %}
                        </div>
                        <div>
                            Please, provide {{ add_product_form.weight.label }}
                        </div> 
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
