{% block header %}
{% endblock header %}

{% block content %}
{% load static %}


<script>
  window.onload = function() {
      document.getElementById('id_type').onchange = Hide;
  };
  function Hide() {
      if(document.getElementById('id_type').options[document.getElementById('id_type').selectedIndex].value == "4") {
           document.getElementById('id_size').style.display = 'none';
           document.getElementById('id_weight').style.display = 'none';
           document.getElementById('id_height').style.display = 'none';
           document.getElementById('id_width').style.display = 'none';
           document.getElementById('id_length').style.display = 'none';
      }else if(document.getElementById('id_type').options[document.getElementById('id_type').selectedIndex].value == "1") {
           document.getElementById('id_size').style.display = '';
           document.getElementById('id_weight').style.display = 'none';
           document.getElementById('id_height').style.display = 'none';
           document.getElementById('id_width').style.display = 'none';
           document.getElementById('id_length').style.display = 'none';
    }else if(document.getElementById('id_type').options[document.getElementById('id_type').selectedIndex].value == "2") {
           document.getElementById('id_size').style.display = 'none';
           document.getElementById('id_weight').style.display = '';
           document.getElementById('id_height').style.display = 'none';
           document.getElementById('id_width').style.display = 'none';
           document.getElementById('id_length').style.display = 'none';
      } else {
           document.getElementById('id_size').style.display = 'none';
           document.getElementById('id_weight').style.display = 'none';
           document.getElementById('id_height').style.display = '';
           document.getElementById('id_width').style.display = '';
           document.getElementById('id_length').style.display = '';
      }
  }
  

  </script>
 
  <div>
    {{ form.sku.label_tag }}{{ form.sku }}
  </div>
  <div>
    {{ form.name.label_tag }}{{ form.name }}
  </div>
  <div>
    {{ form.price.label_tag }}{{ form.price }}
  </div>
  <div>
      {{ form.type.label_tag }}{{ form.type }}
  </div>
  <div>
      {{ form.size }}
  </div>
  <div>
      {{ form.weight.label_tag }}{{ form.weight }}
  </div>
  <div>
    {{ form.height.label_tag }}{{ form.height }}
  </div> 
  <div>
    {{ form.width.label_tag }}{{ form.width }}
  </div> 
  <div>
    {{ form.length.label_tag }}{{ form.length }}
  </div> 


{% endblock content %}
